{% extends "front/base.html" %}

{% block title %}
    注册
{% endblock %}

{% block body %}
    <style type="text/css">
        body {
            background: url({{ url_for("static", filename="front/imgs/login_bg.jpg") }}) no-repeat center center;
            background-size: cover;
            padding-top: 40px;
            padding-bottom: 40px;
            font-family: "STKaiti", "Microsoft YaHei", "MicrosoftJhengHei";
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input {
            margin-bottom: 10px;
            border-radius: 0;
            background: #0000;
            color: #fff;
        }

        .form-signin input[type=checkbox] {
            display: block;
            margin-top: 10px;
            color: #fff;
        }

        .form-signin-heading {
            color: white;
        }

        .mybutton_standard, .mybutton_standard:hover {
            background: #0000;
            border-radius: 0;
        }

        label {
            color: #fff;
        }

        h2 {
            font-size: 40px;
        }

    </style>

    <body>
    <div class="container-fluid">
        <form class="form-signin" action="" method="post">
            <h2 class="form-signin-heading">注册:</h2>

            <label for="inputUsername" class="sr-only">用户名</label>
            <input name="username" type="text" id="inputUsername" class="form-control" placeholder="用户名" required=""
                   autofocus="">

            <label for="inputPassword" class="sr-only">密码</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="密码" required="">

            <label for="inputPassword" class="sr-only">再次输入</label>
            <input name="password_repeat" type="password" id="inputPassword-repeat" class="form-control"
                   placeholder="再次输入"
                   required="">

            <label for="inputEmail" class="sr-only">邮箱</label>
            <input name="email" type="email" id="inputEmail" class="form-control" placeholder="邮箱" required="">

            <label for="inputRealname" class="sr-only">真实姓名</label>
            <input name="realname" type="text" id="inputRealname" class="form-control" placeholder="真实姓名" required="">

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="rememberme" value="remember-me"> 记住我
                </label>
            </div>
            <input class="btn btn-lg btn-default btn-block mybutton_standard" type="submit" value="注册" />
            <a style="color: white;float: right;margin-top:5px;" href="{{ url_for("front.login") }}">返回登录</a>
            {% if message %}
                <a style="color: #ff5358;margin-top:5px;"> {{ message }}</a>
            {% endif %}
        </form>


    </div>


    </body>

{% endblock %}
